---
import Layout from '~/layouts/Layout.astro'
---

<Layout>
  <div class="flex flex-col gap-2 text-center">
    <h1 class="text-2xl font-light tracking-tight">Not Found Page</h1>
    <a href="/" class="underline opacity-50">Back to home</a>
  </div>
</Layout>
