---
import { siteConfig } from '~/utils/site-config'
import ThemeToggle from './ThemeToggle.astro'

const { title } = siteConfig.site
---

<footer>
  <div class="mx-auto max-w-6xl px-4 py-12 text-center">
    <div class="flex items-center justify-between">
      <p>{title}</p>
      <ThemeToggle />
    </div>
  </div>
</footer>
